@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');       

:root{
  --bg-color:#111111;
  --font-color:#ffffff;
  --text-color:#ffffff80;
  --logo-color: #e6533c;
  --secondary-bg:#222222;
  --font-exl: 3.5rem;
  --font-lg: 3rem;
  --font-md: 2rem;
  --font-ssm: 1.2rem;
  --font-sm: 0.8rem
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  background-color:var(--bg-color) ;
  font-family: "Inter", sans-serif;
}
/*common styles*/
.container{
  width: 80%;
  margin: 0 auto;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.left{
  text-align: left;
}
.btn{
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 300;
  padding: 0.5rem 2.8rem;
  background-color: var(--logo-color);
  border-radius: 2.5rem;
  border: none;
  margin-right: 1rem;
}
section{
  padding: 5rem 0;
}
.section-heading{
  color:var(--font-color);
  font-size: var(--font-md);
  font-weight: 700;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}
.section-para{
  color: var(--text-color);
  font-size: var(--font-sm);
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
/*navbar style*/
.navbar{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  color: var(--logo-color);
  font-size: var(--font-md);
  font-weight: 800;
  font-style: italic;
}
.menu ul{
  margin: 0;
  padding: 0;
}
.menu ul li{
  margin-right: 1.3rem;
}
.menu ul li a{
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 400;
}
.active{
  padding: 0.5rem 0.8rem;
  background-color: var(--logo-color);
  border-radius: 2.8rem;
}
.menu-icon i{
  color: var(--font-color);
  font-size: var(--font-md);
  text-align: center;
}
.menu-icon{
  display: none;
}
/*banner start*/
.banner-container{
  width: 100%;
  background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.banner{
  margin: 5rem 0;
  display: flex;
}
.banner-content{
  width: 70%;
  text-align: left;
  padding-right: 10%;
}
.banner-heading{
  color: var(--font-color);
  font-size: var(--font-exl);
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.banner-heading span{
  color: var(--font-color);
  font-size: 5rem;
  font-weight: 400;
  font-family: 'Miama', sans-serif;
                                                
}
.banner-para{
  color: var(--text-color);
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}
.btn-transparent{
  background: transparent;
  border: 0.01rem solid var(--font-color);
}
.banner-img {
  width: 30%;
  position: relative;
}
.banner-token-content{
  color:var(--font-color);
}
.banner-token-1,
.banner-token-2{
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.8rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}
.banner-token-1{
  top: 7.8rem;
  right: -3rem;
  padding: 0.8rem 1.3rem;
}
.banner-token-2{
  left:-2rem;
  bottom: 5rem;
  padding: 0.8rem 1.3rem;
}
.banner-token-2 .circle{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--logo-color);
  margin-right: 0.5rem;
  position: relative;
}
.banner-token-1 h4,
.banner-token-2 h4{
  color: var(--font-color);
  font-weight: 700;
  font-size: var(--font-md);
}
.banner-token-1 p,
.banner-token-2 p{
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--font-sm);
}
.circle i{
  display: none;
}
.circle i{
  position: absolute;
  top: 0.3rem;
  left:0.5rem;
  font-size: 0.7rem;
  color:var(--font-color);
  text-align: center;
}
/*exercise start*/
.box-container{
  display: flex;
}
.box{
  width: 16rem;
  height: 18rem;
}
.box-content{
  text-align: center;
  padding: 1rem 0.5rem;
}
.image-circle{
  width: 10rem;
  height:10rem;
  border-radius: 50%;
}
.box-content h5{
  color:var(--font-color);
  font-size: var(--font-ssm);
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.box-content p{
  color:var(--text-color);
  font-size: var(--font-sm);
  line-height: 1.7rem;
}
/* physical-exercise*/
.physical-exercise-container{
  display: flex;
  background-color: var(--secondary-bg);
  border-radius: 2rem;
}
.physical-exercise-text{
  width: 50%;
  margin: 2rem;
}
.physical-exercise-text h2{
  text-align: left;
  color:var(--font-color);
  font-size: var(--font-lg);
  font-weight: 800;
  text-transform: capitalize;
}
.physical-exercise-text p{
  text-align: left;
  color:var(--text-color);
  font-size: var(--font-sm);
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.physical-exercise-image{
  width: 50%;
  margin: 2rem 0;
  text-align: end;
}
.physical-exercise-image img{
  width: 80%;
  margin: 1rem 1.5rem auto;
  border-radius: 1.5rem;
}
/*bmi start*/
.bmi-header{
  padding-bottom: 2rem;
}
.bmi-calculator{
  padding: 3rem 0;
  background-color: var(--secondary-bg);
  display: flex;
}
.bmi-chart{
  width: 40%;
  margin-left: 2rem;
}
.bmi-chart h5,
.bmi-form h5{
  color: var(--font-color);
  font-size: 1.6rem;
  text-transform: capitalize;
}
.bmi-chart h5{
  margin-bottom: 1.5rem;
}
table {
  border-collapse: collapse;
}
td, th{
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;
}
th {
  color: var(--font-color);
  font-size: 0.9rem;
}
td{
  color: var(--text-color);
  font-size: var(--font-sm);
}
.bmi-form{
  width: 60%;
}
.bmi-form p{
  color:var(--text-color);
  font-size: var(--font-sm);
  line-height: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.bmi-form-input{
  display: flex;
  flex-direction: column;
}
.input-box{
  display: flex;
} 
.bmi-form-input input{
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.5rem;
  padding-right: 4rem;
  border-radius: 0.4rem;
  background: #ffffff1a;
  color:rgba(255, 255, 255, 0.6);
  outline: none;
  border: none;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.width-full{
  padding-right: 19rem !important;
}
.chevron{
  position: relative;
}
.chevron i{
  position: absolute;
  top:0.6rem;
  right:1.5rem;
  font-size: var(--font-sm);
  color:rgba(255, 255, 255, 0.6);
}
.input-btn{
  margin-top: 1.7rem;
}
/*team start*/
.team-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--secondary-bg);
  justify-content: space-evenly;
  padding-top: 1.5rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
}
.team-box{
  width: 21rem;
  height: 19rem;
  border-radius: 1.5rem;
  margin-bottom: 1.3rem;
  position: relative;
}
.team-box img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.team-text{
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
}
.team-text h6{
  font-size: var(--font-sm);
  color: var(--font-color);
  text-transform: capitalize;
}
.team-text p{
  font-size: var(--font-sm);
  color: var(--text-color);
}
/*testimonial start*/
.client-testimonial{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  position: relative;
}
.client-testimonial-img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.4rem solid var(--text-color);
}
.client-testimonial-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.testimonial-content{
  margin-top: 3rem;
}
.testimonial-content h4{
  font-size: var(--font-ssm);
  color: var(--font-color);
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.testimonial-content p{
  font-size: 1rem;
  color: var(--text-color);
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.testimonial-content p span{
  font-size: var(--font-md);
  color: var(--text-color);
  margin-right: 0.5rem;
}
.review i{
  font-size: var(--font-ssm);
  color: var(--logo-color);
  margin-right: 0.4rem;
}
.circles i{
  font-size: 0.5rem;
  color: var(--text-color);
  margin-right: 0.4rem;
  margin-top: 1.5rem;
}
.circles{
  display: none;
}
.prev, .next{
  position: absolute;
  top: 35%;
  font-size: var(--font-md);
  color: var(--text-color);
  cursor: pointer;
}
.prev{
  left:-8rem;
}
.next{
  right:-8rem;
}
/*footer start*/
.footer{
  background-color: var(--secondary-bg);
  color: var(--text-color);
  padding: 3rem 0;
}
.footer-col-container{
  display: flex;
  padding-bottom: 4rem;
}
.footer-logo a{
  color: var(--logo-color);
  font-size: var(--font-exl);
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}
.footer-col-container p{
  font-size: var(--font-sm);
  line-height: 1.5rem;
}
.footer .col-2{
  width: 50%;
  display: flex;
}
.col-2 .col{
  width: 50%;
}
.col h3{
  color: var(--font-color);
  font-size: var(--font-md);
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.col ul li{
  font-size: var(--font-ssm);
  font-weight: 500;
  margin-bottom: 0.9rem;
}
.copyright{
  text-align: center;
  font-size: var(--font-ssm);
  margin-top: 1.5rem;
}
/*responsive css for mobile device*/
@media (max-width: 576px){
  .container{
    width: 90%;
  }
  .menu{
    display: none;
  }
  .menu-icon{
    display: block;
  }
  .banner{
    flex-direction: column;
  }
  .banner-heading{
    font-size: var(--font-md);
    line-height: 2.7rem;
  }
  .banner-heading span{
    font-size: 3.5rem;
  }
  .banner-content{
    width: 90%;
    padding-right: 2%;
  }
  .btn{
    font-size: var(--font-sm);
    padding: 0.5rem 2rem;
    margin-right: 0.5rem;
  }
  .banner-img{
    width: 100%;
    margin: 2rem auto;
    text-align: center;
  }
  .banner-token-1{
    top: 4rem;
    right: 3rem;
  }
  .banner-token-2{
    left:4rem;
    bottom: 13.5rem;
  }
  .circle i{
    display: block;
  }
  section{
    padding: 3rem 0;
  }
  .box-container{
    flex-direction: column;
  }
  .box{
    margin-bottom: 1.5rem;
  }
  .physical-exercise-container{
    flex-direction: column;
  }
  .physical-exercise-text{
    width: 100%;
  }
  .physical-exercise-text h2{
    font-size: var(--font-md);
  }
  .physical-exercise-btn a{
    padding: 0.8rem 4rem;
  }
  .physical-exercise-image{
    width: 100%;
    text-align: center;
  }
  .bmi-calculator{
    flex-direction: column;
  }
  .bmi-chart,
  .bmi-form{
    width: 100%;
    margin-left: 1rem;
  }
  .bmi-form-input{
   margin-top: 2rem;
  }
  .bmi-form-input input{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 3rem;
  }
  .width-full{
    padding-right: 16.5rem !important;
  }
  .bmi-form h5{
    margin-top: 2rem;
  }
  .prev, .next{
    display: none;
  }
  .circles{
    display: block;
  }
  .footer-col-container{
    flex-direction: column;
  }
  .footer .col-2{
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
  }
}

